<div class="container">
	<div class="row">
		<alert-message ng-show="serviceFail" message="{{ serviceFail }}"></alert-message>
		<div class="col-xs-12 col-sm-12 margin--b15">
			<div class="form-inline pull-right">
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="O que deseja buscar?" ng-model="search">
			  </div>
			</div>
			<div class="pull-left">
				<div class="btn-group" role="group">
				  <button type="button" class="btn btn-default" ng-click="resizeShots( 'small' )"><span class="glyphicon glyphicon-th"></span></button>
				  <button type="button" class="btn btn-default" ng-click="resizeShots( 'large' )"><span class="glyphicon glyphicon-th-large"></span></button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="margin--b25" ng-class="shotSize === 'small' ? 'col-sm-3 col-xs-6' : shotSize === 'large' ? 'col-sm-4 col-xs-12' : 'col-sm-3 col-xs-12'" ng-repeat="shot in shots | filter: search">
			<a href="#/shot/{{ ::shot.id }}" class="text--decoration--off text-muted thumbnail" title="{{ ::shot.title }}">
				<figure>
					<img src="{{ shotSize === 'small' ? shot.images.teaser : shotSize === 'large' ? shot.images.normal : shot.images.teaser }}" alt="{{ ::shot.title }}" class="img-rounded">
					<p class="bg-info hover-desc hidden" ng-if="::shot.description" ng-bind-html="::shot.description"></p>
					<figcaption>
						<img src="{{ ::shot.user.avatar_url }}" alt="{{ ::shot.user.name }}" class="pull-left margin--r5 img__size--w16 img-circle">
						<h4 class="font--s16 text--nowrap">{{ ::shot.title }}</h4>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 text-center margin--b25">
			<button type="button" class="btn btn--01" ng-click="getMoreShots()"><span class="glyphicon glyphicon-plus"></span> Carregar mais shots</button>
		</div>
	</div>
	<go-top></go-top>
</div>