// configurations

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
    padding-top: 70px;
    background-color: #e8e8e8;
}

img {
	width: 100%;
	height: auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}