/* helpers text */

// text
.text {
	&--decoration {
		&--off {
			text-decoration: none !important;
		}
	}

	&--nowrap {
		white-space: nowrap;
	    overflow:hidden !important;
	    text-overflow: ellipsis;
	}
}

// font-size
.font {
	&--s16{
		font-size: 16px !important;
	}
}