/* components buttons */

.btn {
	&--01 {
    	color: #fff !important;
	    background-color: #f3679d;
	    border-color: #ff4b90;

	    &:hover {
	    	background-color: #ea4c89;
	    	border-color: #ff4b90;
	    }
    }
}