/* components shots */

.thumbnail figure {
	position: relative;
}

.thumbnail:hover .hover-desc {
	position: absolute;
	top: 0;
	width: 100%;
	max-height: 85%;
	overflow: hidden !important;
	text-overflow: ellipsis;
	padding: 10px;
	font-size: 10px;
	opacity: 0.9;
	color: #000;
	display: block !important;
}